    @using EsyaStore.Identity
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "ShowProfile";


}
<link href="~/Content/UserProfile/ProfilFoto.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-7 ">
            <div class="panel panel-default">
                <div class="panel-heading">  <h4>User Profile</h4></div>
                <div class="panel-body">

                    <div class="box box-info">
                        <div class="box-body">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-6">
                                    <div align="center">
                                        <img alt="User Pic" src="@item.Photo" id="profile-image1" class="img-circle img-responsive">
                                       
                                    </div>
                                    <br />
                                </div>
                                <div class="col-sm-6">
                                    <h4 style="color:#00b1b1;">@item.UserName </h4>
                                    
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">
                                <div class="col-sm-5 col-xs-6 tital ">Adı:</div><div class="col-sm-7 col-xs-6 ">@item.Name</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Soyadı:</div><div class="col-sm-7">@item.Surname</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Email:</div><div class="col-sm-7">@item.Email</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 tital ">Telefon No:</div><div class="col-sm-7">@item.Phone</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
       
    </div>
    </div>
                      